@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Забыли пароль";
}

<div class="w-50 mx-auto p-4 mt-4 entry-form">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <form id="organizerSignUp-form" asp-controller="Account" asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email">Почта</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-field", @readonly = "readonly" })
        </div>
        <div class="form-group text-center mb-3">
            <input type="submit" value="Отправить" class="btn btn-primary form-control btn-submit" />
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    body {
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    }
</style>
