@model LetsGo.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="w-50 mx-auto border rounded p-4 mt-4">
    <h1 class="text-center">Вход на сайт</h1><hr />
    <form asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="LoginOrEmail" class="control-label"></label>
            <input asp-for="LoginOrEmail" class="form-control" />
            <span asp-validation-for="LoginOrEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label">Введите пароль</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" class="ml-2" />
        </div>
        <div class="form-group text-center mt-3">
            <input type="submit" value="Войти" class="btn btn-primary form-control" />
        </div>
        <a asp-controller="Account" asp-action="OrganizerSignUp">Зарегистрироваться как организатор</a>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}