@model OrganizerSignUpViewModel

@{
    ViewData["Title"] = "Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w-50 mx-auto border rounded p-4 mt-4">
    <h1 class="text-center">Регистрация организатора</h1><hr />
    <form id="organizerSignUp-form" asp-controller="Account" asp-action="OrganizerSignUp" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Username" class="control-label">Имя пользователя</label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Avatar" class="control-label">Аватар</label>
            <input asp-for="Avatar" type="file" class="form-control" />
            <span asp-validation-for="Avatar" class="text-danger"></span>
        </div>
        <div class="form-group password">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" id="password" />
            <span class="password-icon"><i class="bi bi-eye-slash" id="togglePassword"></i></span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" id="passwordConfirm" />
            <span class="password-icon" style="float:right;margin:-33px 10px;"><i class="bi bi-eye-slash" id="togglePassword2"></i></span>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group text-center mt-3">
            <input type="submit" value="Зарегистироваться" class="btn btn-primary form-control" />
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var togglePassword = document.querySelector('#togglePassword');
        var password = document.querySelector('#password');
        togglePassword.addEventListener('click', function (e) {
            var type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.classList.toggle('bi-eye');
        });
        var togglePassword2 = document.querySelector('#togglePassword2');
        var passwordConfirm = document.querySelector('#passwordConfirm');
        togglePassword2.addEventListener('click', function (e) {
            var type2 = passwordConfirm.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordConfirm.setAttribute('type', type2);
            this.classList.toggle('bi-eye');
        });
    </script>
}