@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Введите вашу почту и новый пароль";
}

<div class="w-50 mx-auto p-4 mt-4 entry-form">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <form id="organizerSignUp-form" asp-controller="Account" asp-action="ResetPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Code" type="hidden" />
        <div class="form-group">
            <label asp-for="Email">Почта</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-field" })
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group password">
            <label asp-for="Password">Пароль</label>
            <input asp-for="Password" class="form-control input-field" id="password" />
            <span class="password-icon"><i class="bi bi-eye-slash" id="togglePassword"></i></span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Подтвердите пароль</label>
            <input asp-for="ConfirmPassword" class="form-control input-field" id="passwordConfirm" />
            <span class="password-icon"><i class="bi bi-eye-slash" id="togglePassword2"></i></span>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group text-center mb-3">
            <input type="submit" value="Сбросить" class="btn btn-primary form-control btn-submit" />
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var togglePassword = document.querySelector('#togglePassword');
        var password = document.querySelector('#password');
        togglePassword.addEventListener('click', function (e) {
            var type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.classList.toggle('bi-eye');
        });
        var togglePassword2 = document.querySelector('#togglePassword2');
        var passwordConfirm = document.querySelector('#passwordConfirm');
        togglePassword2.addEventListener('click', function (e) {
            var type2 = passwordConfirm.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordConfirm.setAttribute('type', type2);
            this.classList.toggle('bi-eye');
        });
    </script>
}

<style>
    body {
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    }
</style>
