# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.LetsGo.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../:\LetsGo\.idea\.idea.LetsGo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
