<div class="card">
    <div class="card-body">
        <span>
            Ваша почта успешно подтверждена.<br />Сменить пароль можно, перейдя по <a href='@ViewBag.CallbackUrl'>ссылке</a><br />
            Для входа в приложение перейдите по <a asp-action="Login">ссылке</a>.
        </span>
    </div>
</div>
