@model LetsGo.UI.ViewModels.OrganizerSignUpViewModel

@{
    ViewData["Title"] = "Sign Up";
}

<div class="entry-form">
    <h1 class="text-center">Регистрация организатора</h1>
    <form id="organizerSignUp-form" asp-controller="Account" asp-action="OrganizerSignUp" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Username" class="control-label">Имя пользователя</label>
            <input asp-for="Username" class="form-control input-field" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Почта</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-field" })
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber">Телефон</label>
            <input asp-for="PhoneNumber" class="form-control input-field" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Avatar" class="control-label">Аватар</label>
            <input asp-for="Avatar" type="file" class="form-control-file" />
            <span asp-validation-for="Avatar" class="text-danger"></span>
        </div>
        <div class="form-group password">
            <label asp-for="Password">Пароль</label>
            <input asp-for="Password" class="form-control input-field" id="password" />
            <span class="password-icon"><i class="bi bi-eye-slash" id="togglePassword"></i></span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Подтвердите пароль</label>
            <input asp-for="ConfirmPassword" class="form-control input-field" id="passwordConfirm" />
            <span class="password-icon"><i class="bi bi-eye-slash" id="togglePassword2"></i></span>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group text-center mb-3">
            <input type="submit" value="Зарегистироваться" class="btn btn-primary form-control btn-submit" />
        </div>
    </form>
    <div style="text-align:center;">
        <span style="color: #374151;">Уже есть аккаунт?</span>
        <a asp-controller="Account" asp-action="Login" class="pl-2" style="color:slateblue;">Вход</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var togglePassword = document.querySelector('#togglePassword');
        var password = document.querySelector('#password');
        togglePassword.addEventListener('click', function (e) {
            var type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.classList.toggle('bi-eye');
        });
        var togglePassword2 = document.querySelector('#togglePassword2');
        var passwordConfirm = document.querySelector('#passwordConfirm');
        togglePassword2.addEventListener('click', function (e) {
            var type2 = passwordConfirm.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordConfirm.setAttribute('type', type2);
            this.classList.toggle('bi-eye');
        });
    </script>
}

<style>
    body {
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    }
</style>