@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
<div class="card">
    <div class="card-body">
          @_localizer["Reset"]<a asp-action="Login"> @_localizer["Link"]</a>.
    </div>
</div>