<div class="body_part_2">
    <div class="cont_2_body container-fluid pb-3">
        <div class="container-2 container-fluid mx-auto">
            <h1 class="main_page_start_text mt-1 mb-5 text-center">Быстрый поиск и покупка билетов</h1>
            <div class="container_basic_content">
                <div class="search_wrapper d-flex justify-content-center">
                    <div class="seacrh_input input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Событие или площадка" aria-label="Имя получателя" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Город</button>
                        </div>
                    </div>
                </div>
                <div class="links mt-5 mx-auto row justify-content-center">
                    <a href="#" class="link_day btn btn-secondary btn-lg active" role="button" aria-pressed="true">Афиша</a>
                    <a href="#" class="link_day btn btn-secondary btn-lg active" role="button" aria-pressed="true">Сегодня</a>
                    <a href="#" class="link_day btn btn-secondary btn-lg active" role="button" aria-pressed="true">Завтра</a>
                    <a href="#" class="link_day btn btn-secondary btn-lg active" role="button" aria-pressed="true">Выходные</a>
                </div>
                <div class="icon_buttons align-content-center">
                    <button class="btn btn_icon mx-2 mt-2"><i class="icon_btn far fa-calendar-alt"></i>Календарь</button>
                    <button class="btn btn_icon mx-2 mt-2"><i class="icon_btn fas fa-bars"></i>Фильтры</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card_group row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mx-0 justify-content-around mt-5">
        <div class="col mb-4">
            <div class="card card_cont2">
                <div class="card-img-top text-center pt-2"><img width="58" height="52" src="~/images/68290.png" alt="pic-1"></div>
                <div class="card-body mx-auto">
                    <h1 class="title_card">Все</h1>
                </div>
                <p class="card-text text-center mb-2 text-lowercase pt-1">цены на билеты как в кассах</p>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card card_cont2">
                <div class="card-img-top text-center pt-2"><img width="58" height="52" src="~/images/26583.png" alt="pic-2"></div>
                <div class="card-body mx-auto">
                    <h1>билеты</h1>
                </div>
                <p class="card-text text-center mb-2 text-lowercase pt-1">онлайн всегда в наличии</p>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card card_cont2">
                <div class="card-img-top text-center pt-2"><img width="58" height="52" src="~/images/26634.png" alt="pic-3"></div>
                <div class="card-body mx-auto">
                    <h1>без</h1>
                </div>
                <p class="card-text text-center mb-2 text-lowercase pt-1">комиссии и прочих сборов</p>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card card_cont2">
                <div class="card-img-top text-center pt-2"><img width="58" height="52" src="~/images/2512085.png" alt="pic-4"></div>
                <div class="card-body mx-auto">
                    <h1>наценки</h1>
                </div>
                <p class="card-text text-center mb-2 text-lowercase pt-1">нет, вы платите только за билеты</p>
            </div>
        </div>
    </div>
</div>
