/*Layout*/
::-webkit-scrollbar { /* chrome based */
    width: 0px; /* ширина scrollbar'a */
    background: transparent; /* опционально */
}

html {
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

.page-content {
    margin-bottom: 180px;
}

.navbar {
    z-index: 98;
}

.nav-start {
    background-color: #000;
}

.nav-end {
    position: fixed !important;
    background-color: #2b2b2b;
}


.sidenav {
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: -330px;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 0.25rem;
}

.fog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
}

.sidenav ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 40px;
}

    .sidenav ul li {
        padding: 16px 30px;
        max-width: 330px;
    }

        .sidenav ul li a {
            text-decoration: none;
            font-weight: 700;
            color: #737373;
        }

        .sidenav ul li:hover,
        .sidenav ul li:hover a {
            cursor: pointer;
            background-color: rgb(21, 21, 21);
            color: #fff;
        }

.icon-menu {
    cursor: pointer;
    text-decoration: none;
    max-width: 30px;
    height: 10px;
}

.icon-close {
    cursor: pointer;
    padding: 1rem 0 0 2rem;
}

.submenu-link:hover > .menu-link,
.menu-link:hover {
    color: #FF0000 !important;
}

.menu-link:focus {
    outline: none;
    color: #FF0000 !important;
}

.submenu-link {
    float: left;
}

.submenu {
    display: none;
    position: absolute;
    flex-direction: column;
}


.submenu-item {
    display: block;
    text-decoration: none;
    padding: 5px 15px;
    color: #000;
    background-color: #fff;
}

.submenu-link:hover {
    cursor: pointer;
}

    .submenu-link:hover .submenu {
        display: flex;
    }

/* .submenu-link:hover .overlay {
  display: block;
} */

.submenu .submenu-item:hover {
    text-decoration: none;
    color: #FF0000;
    background-color: rgb(247, 247, 247);
}

.search {
    display: none;
    background-color: #151515;
    color: #737373;
    max-width: 111px;
    border: 0;
    border-radius: 10px;
    padding: 5px 30px 5px 5px;
}

    .search span {
        vertical-align: middle;
        height: 30px;
    }


/* form */
.form-header {
    text-align: center;
}

.form-container {
    max-width: 800px;
    border: 1px solid #1b6ec2;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 auto;
    padding: 30px 60px;
}

input#AgeLimit {
    width: 100px;
}

.ticket-input {
    display: inline-block;
    width: 30%;
    margin: 30px 15px 20px 0;
}
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.container {
    padding: 0;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    color: rgb(43, 43, 43);
    background-color: rgb(247, 247, 247);
    line-height: 1.42857;
}

.footer {
    padding: 30px 0;
    background-color: #000;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
}

.footer-link-tittle {
    height: 16px;
    margin-bottom: 30px;
    font-size: 11px;
}

.footer-tittle {
    font-size: 14px;
    height: 20px;
}

.footer p {
    color: #737373;
    margin-top: 20px;
    line-height: 20px;
}

.container-2 {
    max-width: 1350px;
}

.search_wrapper {
    min-height: 48px;
}

.seacrh_input {
    min-width: 270px;
    max-width: 960px;
}

.link_day {
    height: 44px;
    width: 184px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.icon_buttons {
    margin-top: 60px;
    text-align: center;
}

.btn_icon {
    width: 200px;
    height: 44px;
    border-radius: 5px;
    background-color: red;
    border: none;
    color: white;
    padding-right: 15px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
}

    .btn_icon:hover {
        background-color: darkred;
    }

.icon_btn {
    font-weight: 800;
    margin-right: 60px;
}

.card_cont2 {
    background-image: linear-gradient(to right bottom, #051237, #3d1b56, #7a1566, #b70063, #eb124e);
    height: 100%;
    color: white;
}

.img_card {
    filter: invert(100%) sepia(0%) saturate(7482%) hue-rotate(20deg) brightness(118%) contrast(93%);
}

.cont_2_body {
    background-image: url(/images/15017480345982db42b6a5b9.62651496.jpg);
    background-size: cover;
    background-position: center top;
    flex-grow: 1;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.container-2 h1 {
    text-shadow: 1px 1px 1px white;
}


.events a {
    text-decoration: none;
    color: rgb(43, 43, 43);
}

.events .category-header {
    font-size: 24px;
    font-weight: 700;
    margin-top: 7px;
    margin-bottom: 35px;
    line-height: 1.1;
    color: inherit;
}

.events .card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 25px 0 rgb(0 0 0 / 5%);
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

    .events .card:hover img {
        filter: brightness(0.8);
    }

    .events .card:hover {
        box-shadow: 0 5px 10px 5px rgb(0 0 0 / 6%);
    }

    .events .card img {
        border-radius: 10px 10px 0 0;
        position: absolute;
        height: 100%;
        width: 100%;
        vertical-align: middle;
        cursor: pointer;
    }

.card-block-img {
    width: 100%;
    padding-bottom: 56.25%;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    position: relative;
    padding-bottom: 56.25%;
}

    .card-block-img .wrapper {
        display: flex;
        justify-content: end;
    }

.card-age {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 42px;
    height: 26px;
    color: #2b2b2b;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    background-color: #fff;
    border-radius: 5px;
    margin: 15px 15px 0 0;
}

.events .card a:hover {
    color: crimson;
}

.card-tag {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 1;
    flex-wrap: wrap;
    display: flex;
}

    .card-tag a {
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: hsla(0, 0%, 100%, .8);
        display: inline-block;
        box-sizing: border-box;
        max-width: 100%;
        padding: 4px 10px;
        font-weight: 500;
        font-size: 9px;
        white-space: nowrap;
        text-transform: uppercase;
        text-decoration: none;
        text-overflow: ellipsis;
        vertical-align: top;
        border-radius: 4px;
    }

.more-btn {
    width: 40px;
    height: 40px;
    border-radius: 22px;
    background: #fff;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .more-btn .icon-more {
        color: #9b9b9b;
        font-size: 14px;
    }

    .more-btn:hover .icon-more {
        color: #2b2b2b;
    }

.card-block-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 224px;
    padding: 15px 20px 20px;
    color: #737373;
    font-weight: 500;
    font-size: 14px;
}

.card-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
}

.card-date {
    padding-bottom: 8px;
    font-weight: 400;
    line-height: normal;
}

.card-venue {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-venue-link {
    color: #737373;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}

.card-price {
    display: block;
    padding-top: 10px;
    color: #2b2b2b;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.venues-card {
    margin: 15px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 5%);
    height: 120px;
}

.venue {
    display: flex;
    justify-content: space-around;
}

.venue-card-img-container {
    background-image: linear-gradient(117deg, #cc2b5e, #753a88);
    display: flex;
    flex: 0 0 60px;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 30px;
}

.venue-card-placeholder {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.venue-card-content {
    display: flex;
    flex: 1 1;
    flex-direction: column;
}

.venue-card-type {
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
    margin: 0;
    color: #737373;
    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    text-transform: uppercase;
}

.venue-card-title {
    white-space: normal;
    word-break: break-word;
    margin-top: 5px;
    margin-bottom: 0;
    color: #2b2b2b;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.44;
    overflow: hidden;
    text-overflow: ellipsis;
}

#create-location-form .label {
    font-weight: 500;
}

.add-more-phones {
    cursor: pointer;
    color: darkred !important;
    float: right;
    padding-top: 5px;
}

    .add-more-phones:hover {
        text-decoration: underline !important;
    }

.password-icon {
    float: right;
    margin: -31px 15px;
    cursor: pointer;
}

.entry-form {
    background-color: white;
    border-radius: 49.0901px;
}

    .entry-form h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #374151;
        margin-bottom: 25px;
    }

    .entry-form label {
        font-size: 14px;
        line-height: 20px;
        color: #6B7280;
        font-style: normal;
        font-weight: 500;
    }

    .entry-form .input-field {
        background: white;
        border: 1.53407px solid #e3caff;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .entry-form .checkbox {
        width: 20px;
        height: 20px;
        border-radius: 25%;
        vertical-align: middle;
        border: 1px solid #D1D5DB;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        margin-right: 5px;
    }

        .entry-form .checkbox:checked {
            background: transparent url(../images/icons/chek.svg) no-repeat;
            background-position: center;
            background-color: #5048E5;
        }

    .entry-form .btn-submit {
        align-items: center;
        padding: 8px 16px;
        background: #5048E5;
        box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
        border-radius: 4px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
    }

    .entry-form .link {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #5048E5;
        text-align: center;
        display: block;
    }

    .entry-form input[type=file]::file-selector-button {
        background: white;
        border: 1.53407px solid #e3caff;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 3px 50px;
        color: #6B7280;
        cursor:pointer;
    }

    .entry-form input:-webkit-autofill,
    .entry-form input:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }

    .entry-form input[data-autocompleted] {
        background-color: transparent !important;
    }