/*Layout*/
::-webkit-scrollbar { /* chrome based */
    width: 0px; /* ширина scrollbar'a */
    background: transparent; /* опционально */
}

html {
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

.nav-start {
    background-color: #000;
}

.nav-end {
    position: fixed !important;
    background-color: #2b2b2b;
}


.sidenav {
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -330px;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 0.25rem;
}

.fog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.sidenav ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 40px;
}

    .sidenav ul li {
        padding: 16px 30px;
        width: 330px;
    }

        .sidenav ul li a {
            text-decoration: none;
            font-weight: 700;
            color: #737373;
        }

        .sidenav ul li:hover,
        .sidenav ul li:hover a {
            cursor: pointer;
            background-color: rgb(21, 21, 21);
            color: #fff;
        }

.icon-menu {
    cursor: pointer;
    text-decoration: none;
    width: 30px;
    height: 10px;
    font-style: 30px;
}

.icon-close {
    cursor: pointer;
    padding: 1rem 0 0 2rem;
}

.submenu-link:hover > .menu-link,
.menu-link:hover {
    color: #FF0000 !important;
}

.menu-link:focus {
    outline: none;
    color: #FF0000 !important;
}

.submenu-link {
    float: left;
}

.submenu {
    display: none;
    position: absolute;
    flex-direction: column;
}


.submenu-item {
    display: block;
    text-decoration: none;
    padding: 5px 15px;
    color: #000;
    background-color: #fff;
}

.submenu-link:hover {
    cursor: pointer;
}

    .submenu-link:hover .submenu {
        display: flex;
    }

/* .submenu-link:hover .overlay {
  display: block;
} */

.submenu .submenu-item:hover {
    text-decoration: none;
    color: #FF0000;
    background-color: rgb(247, 247, 247);
}

.search {
    display: none;
    background-color: #151515;
    color: #737373;
    width: 111px;
    border: 0;
    border-radius: 10px;
    padding: 5px 30px 5px 5px;
}

    .search span {
        vertical-align: middle;
        height: 30px;
    }


/*Details Details Details */

.pn-page_section {
    max-width: 1020px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #e5e5e5;
}

.pn-page-head {
    background-color: #8abdf7;
    padding: 30px;
    border-radius: 15px 15px 0 0;
}

.pn-head_image {
    min-width: 300px;
    height: 160px;
    overflow: hidden;
    cursor: pointer;
}

    .pn-head_image img {
        height: 100%;
    }

.pn-head_title {
    color: #fff;
}

    .pn-head_title h1 {
        display: inline-block;
        font-size: 22px;
    }

    .pn-head_title span {
        opacity: 0.5;
        font-size: 24px;
    }

.pn-head_description {
    margin-top: 15px;
    color: #fff;
    font-size: 14px;
}

.pn-head_tags {
    margin-top: 30px;
}

.tag {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 4px 10px;
    overflow: hidden;
    text-transform: uppercase;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 9px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 100%;
    border-radius: 4px;
    color: #2b2b2b;
    background-color: hsla(0,0%,100%,.8);
}

    .tag:hover {
        text-decoration: none;
        color: #2b2b2b;
    }

.pn-head_buttons {
    margin-top: 20px;
}

    .pn-head_buttons button {
        font-weight: 700;
        font-size: 12px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-transform: uppercase;
        text-align: center;
        margin-right: 30px;
        min-width: 44%;
        height: 44px;
    }

.info {
    color: #2b2b2b;
    background-color: #fff;
    padding: 8px 30px;
}

    .info h1 {
        font-size: 18px;
    }

    .info p {
        padding: 0;
        margin: 0;
        font-size: 14px;
    }

.menu {
    margin: 20px 0 0 30px;
}

.section_box {
    display: none;
    position: absolute;
    margin-top: 20px;
    width: 265px;
    background-color: #fff;
    padding: 15px;
    color: #2b2b2b;
    font-size: 16px;
}

.section_status {
    padding: 10px 0;
}

.section_block {
    padding-top: 5px;
    display: inline-block;
}

.section_fix {
    padding-top: 5px;
}

.color_bl {
    display: inline-block;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
}

.price {
    display: inline-block;
}

.places {
    margin: 100px auto;
    padding-bottom: 100px;
    text-align: center;
}


/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    padding: 60px 0;
    background-color: #000;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.footer-link-tittle {
    height: 16px;
    margin-bottom: 30px;
    font-size: 11px;
}

.footer-tittle {
    font-size: 14px;
    height: 20px;
}

.footer p {
    color: #737373;
    margin-top: 20px;
    line-height: 20px;
}
